@model ScheduleManager.Data.Models.Discipline

@{
    ViewData["Title"] = "Edit the Discipline";
}

<form asp-action="Edit">

    <input asp-for="UserId" class="form-control" hidden />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="justify-content-end d-flex gap-2">
        <form asp-action="Delete" asp-route-id="@Model.Id">
            <div class="form-group my-3">
                <input type="submit" value="Delete" class="btn btn-danger px-3" />
            </div>
        </form>
        <div class="form-group my-3">
            <input type="submit" value="Save" class="btn btn-primary px-5" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
