@model Ring

@{
    ViewData["Title"] = "Create a Ring";
}

<div class="container">
    <form asp-action="CreateRing" method="post" class="widget">
        <div class="h4 text-center mb-3">@ViewData["Title"]</div>

        <input asp-for="UserId" class="form-control" hidden />

        <div class="my-2">
            <label asp-for="Number"></label>
            <input type="number" asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label asp-for="Time"></label>
            <input type="time" asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>

        <div class="mt-3 text-end">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>