@using ScheduleManager.Controllers
@using ScheduleManager.Data.Enums
@model Ring

@{
    ViewData["Title"] = "Edit the Ring";
}

<div class="container">
    <form asp-action="" class="widget">
        <div class="h4 text-center mb-3">@ViewData["Title"]</div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="UserId" hidden />
        <input asp-for="Id" hidden />

        <div class="my-2">
            <label asp-for="Number"></label>
            <input asp-for="Number" type="number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label asp-for="Time"></label>
            <input type="time" asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>

        <div class="justify-content-end d-flex gap-2 mt-3">
            <input type="submit" value="Delete" formaction="delete-ring" class="btn btn-danger px-3" />
            <input type="submit" value="Save" formaction="edit-ring" class="btn btn-primary px-5" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
