@model Ring

<form asp-action="CreateRing" method="post">
    <input asp-for="UserId" class="form-control" hidden />

    <div class="form-group">
        <label asp-for="Number"></label>
        <input type="number" asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time"></label>
        <input type="time" asp-for="Time" class="form-control" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <div class="d-flex gap-2">
        <div class="form-group my-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <form asp-action="DeleteRing" asp-route-id="@Model.Id">
            <div class="form-group my-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</form>
